final_with_ai.ipynb

marilyn_render.blend
marilyn_render.blend1
brad_result.blend
brad_result.blend1
final_results.blend
final_results.blend1
experiment.blend
experiment.blend1
brad_render.blend
brad_render.blend1